/* Journey to the Center of the Earth Practicum */
/* Will Landrieu */

h1{
    background-image: url(../img/cave.jpg);
    background-position: center center;
    background-size: cover;
    color: #fff;
    text-shadow: 3px 3px black;
    min-height: 100px;
    min-width: 200px;
    margin-top: 3px;
    margin-bottom: 3px;
    text-align: center;
    font-size: 60px;
    border: 2px solid #864;
}

h2{
    border-bottom: 2px dashed black;
    border-width: 2px;
}

/* inline text styles */
span {
    font-style: italic;
}

.character {
    font-style: normal;
    font-weight: bold;
}

body{
    background: linear-gradient(#765729, black);
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 1280px;
    row-gap: 0px;
}

header {
    width: 100%;
}

/* box styling */
nav, main, aside, footer {
    background-color: lightgray;
    box-shadow: 8px 8px 20px 6px #222 inset;
    margin: 3px;
    border: 2px solid #864;
    width: 100%
}

nav{
    text-align: center;
    height: 50px;
    border: 2px solid #864;
}

ul{
    overflow: hidden;
}

/* Separator between nav links */
nav li{
    display: inline-block;
    border-left: solid 3px #765729;
    padding-left: 15px;
    padding-right: 15px;
}
li:first-child {
    border-left: none;
}

/* link colors */
a{    color:#000; }
a:hover{    color: #a52a2a }

main{
    font-size: 16px;
    padding: 10px 20px;
    border: 2px solid #864;
}

p::first-line{
    font-size: 18px; 
}

aside{
    padding: 10px 20px;
    border: 2px solid #864;
}

/* Images */
#cover {
    max-width: 25%;
    min-width: 200px;
    float: left;
    margin: 0px 15px 15px 0px;
}

#cryptogram {
    display: table;
    max-width: 100%;
    padding: 0% 10%;
}

#cryptimg {
    max-width: 100%;
    padding: 0px;
}

figcaption {
    display: table-caption;
    padding: 0px;
    width: 100%;
    text-align: center;
    font-style: italic;
    caption-side: bottom;
}

.submission{
    border: 2px solid black;
    margin: 5px;
    padding: 5px;
}

.opinion {
    text-align: center;
    font-weight: bold;
}

.signature{
    text-align: center;
    font-style: italic;
}

footer{
    text-align: center;
    clear:both;
    padding: 10px 20px;
    border: 2px solid #864;
}

@media screen and (min-width: 800px) {
    main { 
        flex: 2;
    }
    aside {
        flex: 1;
    }
}